{% extends 'chat_feature/base.html' %}
{% load static %}
{% block body %}
<div class="parallax1">
    <div class="container">
        <div class="d-flex row mx-0 align-items-center">
            <div class="col-12 col-md-6 text-center">
                <div class="my-5 d-none d-md-inline">
                    <h1 class="sub-heading">Enactus IIITD</h1>
                    <h1 class="display-2 heading">Well-Being Adda</h1>
                </div>
            </div>
            <div class="col-12 col-md-6 content-align-left">
                {% load static %}
                <img src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}"
                    class="img-responsive" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="d-flex row mx-0 align-items-center">
        <div class="col-12 col-md-6 text-justify">
            <h1 class="display5 heading-content text-center">Heading 1</h1>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laboriosam
                doloremque ratione ex quo tempora unde consequatur quisquam molestias nemo impedit obcaecati aut,
                reprehenderit incidunt delectus temporibus enim vel soluta. Eveniet ipsam vero, culpa beatae cum
                illum assumenda delectus, eos modi maiores amet, adipisci nihil pariatur hic quia quaerat. Aperiam.
            </p>
        </div>
        <div class="col-6 d-none d-md-block" id="textbg1">
            <img src="{% static 'chat_feature/images/textbg1.png' %}" alt="textbg1" class="img-responsive"
                width="100%">
        </div>
    </div>
    <div class="d-flex row mx-0 align-items-center">
        <div class="col-6 d-none d-md-block" id="textbg2">
            <img src="{% static 'chat_feature/images/textbg2.png' %}" alt="textbg2" class="img-responsive"
                width="100%">
        </div>
        <div class="col-12 col-md-6 text-justify">
            <h1 class="display5 heading-content text-center">Heading 2</h1>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laboriosam
                doloremque ratione ex quo tempora unde consequatur quisquam molestias nemo impedit obcaecati aut,
                reprehenderit incidunt delectus temporibus enim vel soluta. Eveniet ipsam vero, culpa beatae cum
                illum assumenda delectus, eos modi maiores amet, adipisci nihil pariatur hic quia quaerat. Aperiam.
            </p>
        </div>
    </div>
</div>
<div class="border-top border-secondary mt-5" id="foot">
    <div class="container">
        <p class="content ending-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sunt veniam
            atque voluptatibus est distinctio culpa dolore eveniet neque labore alias non officiis odit voluptates
            quia sint, deserunt repudiandae? Excepturi!</p>
        <div class="d-flex row mx-0 align-items-center">
            <div class="col-6 text-center mb-5">
                <p class="content ending-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                    aliquam.</p>
            </div>
            <div class="col-6 text-center mb-5">
                <p class="content ending-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
                    quos!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}