{% extends 'chat_feature/base.html' %}
{% load static %}

{% block head %}
<title>Love Yourself | Well Being Adda</title>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'chat_feature/css/team.css' %}">
<link rel="stylesheet" href="{% static 'chat_feature/css/experiences.css' %}">

<div class="header d-flex justify-content-center">
    <h1 class="sub-heading">LOVE YOURSELF</h1>
</div>

<div class="container">

    <div class="section light mt-5 mx-0 mx-md-5">
        <div class="d-block">
            <div class="bg py-1 mb-3">
                <h1 class="heading-content text-center expName">Definition of Self Love</h1>
            </div>
            <p class="content mx-0 px-4 mx-md-5 px-md-5 text-justify">
                According to Oxford's dictionary, Self-love is the feeling that your own happiness and wishes are
                paramount. Self-love might seem like just a new fad, but it is not just a trend. It is an essential
                contributor to living a healthier life with a healthier mind. Love yourself - it is easier said than
                done. We are all excellent at criticising ourselves, at seeing the worst in us. We tend to dwell on our
                worst flaws all the time and forget the positive bits. In this competitive and perfectionist world, we
                tend to have very high standards for ourselves. Therefore, we often need reminders to love
                ourselves.Self-love is not "unnecessary pampering" or self-pity. It is acknowledging your worth and
                rewarding yourself for the things well done.Self-love is not about forgetting or ignoring our mistakes
                but forgiving ourselves, learning and moving on, accepting all of our flaws and strengths, while
                striving to be better.
            </p>
            <div class="container d-flex justify-content-center my-4">
                <img src="{% static 'chat_feature/images/selfLove1.png' %}" alt="" class="img-responsive" width="80%">
            </div>
            <div class="bg py-1 mb-3">
                <h1 class="heading-content text-center expName">Love yourself.</h1>
            </div>
            <p class="content mx-0 px-4 mx-md-5 px-md-5 text-justify">
                What we define as self-love may vary from this definition, depending on where we are in our journey of
                self-love. Self-love is not a switch that can be turned on in a second. It is a process that takes time.
                Even in this journey, we have to be patient with ourselves, understand that we all are human and not
                perfect, even if we want to be. It is only when we let go of our bitter relationship with ourselves that
                we can finally see our potential and harness it to make it even better. We should be thankful for all
                that we have instead of just worrying about what we don’t. Self-love also includes treating our body
                well, not just with spas and milkshakes, but healthy food and exercise. The benefits of these are well
                known and are essential for improving our overall well-being. Taking breaks to spend time with ourselves
                just to relax is something we all need, and it is not something we need to feel guilty about. It is okay
                to prioritise ourselves and our mental health. “I don’t feel like it” is a valid reason not to do
                something and not an excuse.
            </p>
            <div class="bg py-3 row">
                <div class="col-12 col-lg-8">
                    <p class="content mx-0 pl-4 ml-md-5 pl-md-5 mr-2 pr-0 text-justify">
                        It is alright to be not okay. We often compare ourselves to others, feel others’ problems are more
                        significant than ours, and their achievements grander than ours. That may or may not be true, but we
                        often forget to recognise the bias we have against ourselves. Sometimes it is better to move away from
                        this competitive thinking and start focusing on ourselves. Everyone has problems, and we have to learn
                        to be kind to ourselves like we are empathetic to others. We are our own best friends. So, be patient
                        and kind to yourself as you take baby steps towards loving yourself more each day.
                    </p>
                </div>
                <div class="col-12 col-lg-4 d-flex justify-content-center align-content-center">
                    <img src="{% static 'chat_feature/images/selfLove2.png' %}" alt="textbg1" class="img-responsive" width="80%">
                </div>
            </div>
            
        </div>
        <div class="d-flex justify-content-center" id="textbg1">
            <img src="{% static 'chat_feature/images/White_with_flower_Icon_Cropped.png' %}" alt="textbg1" class="img-responsive mt-5" width="10%">
            <!-- <iframe src="https://drive.google.com/file/d/1A3SRetN6lD-uYjdWzDpRVBKrdYOU37hn/preview" width="640"
                height="360" allowfullscreen class="my-4"></iframe> -->
        </div>
    </div>
</div>

<div class="footerSpace"></div>

{% endblock %}