{% extends 'chat_feature/base.html' %}
{% load static %}

{% block head %}
<title>What is Well Being? | Well Being Adda</title>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'chat_feature/css/team.css' %}">
<link rel="stylesheet" href="{% static 'chat_feature/css/experiences.css' %}">

<div class="header d-flex justify-content-center">
    <h1 class="sub-heading">What is well being?</h1>
</div>

<div class="container">

    <div class="section light mt-5 mx-0 mx-md-5">
        <div class="d-block">
            <div class="bg py-1 mb-3">
                <h1 class="heading-content text-center expName">What is Well-being?</h1>
            </div>
            <p class="content mx-0 px-4 mx-md-5 px-md-5 text-justify">
                "Health is wealth," we've all heard the age-old adage. But have we truly understood what it means? Every
                moment of our lives affects and is affected by the state of our health and well-being: be it our
                performance at school, college or work, our relationships with friends and family or even the moments we
                spend with just ourselves. It is a reflection of how we feel and function in our everyday lives. What
                exactly is a state of well-being, though? Whatever we define it to be for ourselves! Each of us defines
                it differently for ourselves based on our unique personalities, value systems and ambitions.
                The traditional notion of health only advocates physical fitness but realising just how intrinsic a role
                well-being plays in our lives, we must revise this definition to include the diverse and interconnected
                dimensions of our lives. Well-being isn't merely the absence of physical ailments but a state of comfort
                and happiness. It encompasses the physical as well as psychological, social, spiritual and intellectual
                realms. Each of these five spheres of well-being is equally important and no less interdependent.
            </p>
            <div class="container d-flex justify-content-center my-4">
                <img src="{% static 'chat_feature/images/wellBeing1.png' %}" alt="" class="img-responsive" width="80%">
            </div>
            <div class="bg py-1 mb-3">
                <h1 class="heading-content text-center expName">Facets of well-being</h1>
            </div>
            <p class="content mx-0 px-4 mx-md-5 px-md-5">
                PHYSICAL WELL-BEING is most similar to the traditional notion of health and includes taking care of
                one’s body. It involves sleeping well, eating healthy, staying hydrated, exercising regularly and
                avoiding preventable diseases. Physical well-being also means a balance of mind and body, which is
                developed by making time for relaxation and enjoyment.
            </p>

            <p class="content mx-0 px-4 mx-md-5 px-md-5">
                PSYCHOLOGICAL WELL-BEING refers to mental and emotional health. It refers to the combination of feeling
                good and functioning effectively. Emotional well-being is being able to handle both pleasant and
                unpleasant emotions effectively. Mental health not only refers to the absence of mental illnesses but
                also includes factors such as our ability to manage stress and be autonomous. Practising kindness,
                gratitude, and staying connected with loved ones, all contribute to psychological well-being.
            </p>

            <p class="content mx-0 px-4 mx-md-5 px-md-5">
                SOCIAL WELL-BEING refers to our ability to make and maintain meaningful positive relationships with our
                family, friends, neighbours and co-workers. It involves being able to co-exist in a harmonious, stable
                and peaceful social setting and engage in mutual dependence. Morals, ethics, communication, kindness and
                gratitude are all important factors that contribute to it.
            </p>

            <p class="content mx-0 px-4 mx-md-5 px-md-5">
                SPIRITUAL WELL-BEING is about developing one’s fundamental values and finding one’s purpose in life. It
                involves connecting with oneself and nature and expression through art, music, literature, etc. It is
                often associated with greater resilience, happiness and fulfillment in life.
            </p>

            <p class="content mx-0 px-4 mx-md-5 px-md-5">
                INTELLECTUAL WELL-BEING refers to the will to learn, think critically and engage in creative and
                mentally stimulating activities. It includes expanding and sharing our knowledge and skills. Academics,
                personal hobbies, cultural and community involvement develop intellectual well-being.
            </p>

            <div class="bg py-3">
                <p class="content mx-0 px-4 mx-md-5 px-md-5">
                    The different dimensions of well-being are closely interlinked and form an ecosystem of our body and
                    mind to maintain the kind of innate balance that one associates with a sense of well-being. As we
                    strive towards holistic well-being, we must give equal importance to nurturing each of these facets.
                </p>
            </div>

        </div>
        <div class="d-flex justify-content-center" id="textbg1">
            <img src="{% static 'chat_feature/images/White_with_flower_Icon_Cropped.png' %}" alt="textbg1" class="img-responsive mt-5" width="10%">
            <!-- <iframe src="https://drive.google.com/file/d/1A3SRetN6lD-uYjdWzDpRVBKrdYOU37hn/preview" width="640"
                height="360" allowfullscreen class="my-4"></iframe> -->
        </div>
    </div>
</div>

<div class="footerSpace"></div>

{% endblock %}