{% extends 'chat_feature/base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'chat_feature/css/team.css' %}">

<div class="header d-flex justify-content-center">
    <h1 class="sub-heading">Meet the Team</h1>
</div>

<div class="container teamIntro">
    <div class="d-flex row mx-0 align-items-center">
        <div class="col-12 col-md-6 text-justify">
            <h1 class="display5 heading-content text-center">Heading 1</h1>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laboriosam
                doloremque ratione ex quo tempora unde consequatur quisquam molestias nemo impedit obcaecati aut,
                reprehenderit incidunt delectus temporibus enim vel soluta. Eveniet ipsam vero, culpa beatae cum
                illum assumenda delectus, eos modi maiores amet, adipisci nihil pariatur hic quia quaerat. Aperiam.
            </p>
        </div>
        <div class="col-6 d-none d-md-block" id="textbg1">
            <img src="{% static 'chat_feature/images/textbg1.png' %}" alt="textbg1" class="img-responsive" width="100%">
        </div>
    </div>
</div>

<div class="container master d-flex justify-content-center">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 columns">
            <div class="card border-light">
                <div class="card-header d-flex justify-content-center">Project Lead</div>
                <div class="d-flex justify-content-center">
                    <img class="card-img-top"
                        src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bob the Builder</h5>
                    <p class="card-text">Bob the builder, karke dikhayenge! Bob the builder, haa bhai haa!</p>
                </div>
                <div class="card-body d-flex justify-content-center my-0">
                    <a href="#" class="card-link"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-github fa-2x"></i></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 columns">
            <div class="card border-light">
                <div class="card-header d-flex justify-content-center">Design Lead</div>
                <div class="d-flex justify-content-center">
                    <img class="card-img-top"
                        src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">bob, another builder</h5>
                    <p class="card-text">Bob the builder, karke dikhayenge! Bob the builder, haa bhai haa!</p>
                </div>
                <div class="card-body d-flex justify-content-center my-0">
                    <a href="#" class="card-link"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-github fa-2x"></i></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 columns">
            <div class="card border-light">
                <div class="card-header d-flex justify-content-center">Web Developer</div>
                <div class="d-flex justify-content-center">
                    <img class="card-img-top"
                        src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Plain ol' bob</h5>
                    <p class="card-text">Bob the builder, karke dikhayenge! Bob the builder, haa bhai haa!</p>
                </div>
                <div class="card-body d-flex justify-content-center my-0">
                    <a href="#" class="card-link"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-github fa-2x"></i></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 columns">
            <div class="card border-light">
                <div class="card-header d-flex justify-content-center">Design team</div>
                <div class="d-flex justify-content-center">
                    <img class="card-img-top"
                        src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">yet another bob</h5>
                    <p class="card-text">Bob the builder, karke dikhayenge! Bob the builder, haa bhai haa!</p>
                </div>
                <div class="card-body d-flex justify-content-center my-0">
                    <a href="#" class="card-link"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-github fa-2x"></i></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 columns">
            <div class="card border-light">
                <div class="card-header d-flex justify-content-center">Content team</div>
                <div class="d-flex justify-content-center">
                    <img class="card-img-top"
                        src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">yet another bob</h5>
                    <p class="card-text">Bob the builder, karke dikhayenge! Bob the builder, haa bhai haa!</p>
                </div>
                <div class="card-body d-flex justify-content-center my-0">
                    <a href="#" class="card-link"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-github fa-2x"></i></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 columns">
            <div class="card border-light">
                <div class="card-header d-flex justify-content-center">Content team</div>
                <div class="d-flex justify-content-center">
                    <img class="card-img-top"
                        src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">yet another bob</h5>
                    <p class="card-text">Bob the builder, karke dikhayenge! Bob the builder, haa bhai haa!</p>
                </div>
                <div class="card-body d-flex justify-content-center my-0">
                    <a href="#" class="card-link"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-github fa-2x"></i></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 columns">
            <div class="card border-light">
                <div class="card-header d-flex justify-content-center">Content team</div>
                <div class="d-flex justify-content-center">
                    <img class="card-img-top"
                        src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">yet another bob</h5>
                    <p class="card-text">Bob the builder, karke dikhayenge! Bob the builder, haa bhai haa!</p>
                </div>
                <div class="card-body d-flex justify-content-center my-0">
                    <a href="#" class="card-link"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-github fa-2x"></i></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 columns">
            <div class="card border-light">
                <div class="card-header d-flex justify-content-center">Content team</div>
                <div class="d-flex justify-content-center">
                    <img class="card-img-top"
                        src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">yet another bob</h5>
                    <p class="card-text">Bob the builder, karke dikhayenge! Bob the builder, haa bhai haa!</p>
                </div>
                <div class="card-body d-flex justify-content-center my-0">
                    <a href="#" class="card-link"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="#" class="card-link"><i class="fab fa-github fa-2x"></i></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}