{% extends 'chat_feature/base.html' %}
{% load static %}

{% block head %}
<title>Team | Well-Being Adda</title>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'chat_feature/css/team.css' %}">

<div class="header d-flex justify-content-center">
    <h1 class="sub-heading">Meet the Team</h1>
</div>

<div class="d-flex row mx-0 align-items-center section light mt-5 mx-md-5 p-md-5 mb-5">
    <div class="col-12 col-lg-8">
        <!-- <h1 class="display5 heading-content text-center">About Well-Being Adda</h1> -->
        <p class="content"> <span class="bold">We at Well-Being Adda, strive to create a healthy and positive
                environment for each and everyone. </span>
            <br>
            Our team believes in breaking stigmas surrounding mental health one at a time by providing appropriate
            resources. We would like to introduce our dedicated team working hard towards achieving the goal of making
            well-being
            and mental health a more approachable topic.
        </p>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-center" id="textbg1">
        <img src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}" alt="textbg1" class="img-responsive" width="100%">
        <!-- <iframe src="https://drive.google.com/file/d/1A3SRetN6lD-uYjdWzDpRVBKrdYOU37hn/preview" width="640"
            height="360" allowfullscreen class="my-4"></iframe> -->
    </div>
</div>
<div class="container master d-flex justify-content-center">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 columns">
            <div class="card border-light">
                <div class="card-header d-flex justify-content-center">Content team</div>
                <div class="d-flex justify-content-center">
                    <img class="card-img-top"
                        src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">yet another bob</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 columns">
            <div class="card border-light">
                <div class="card-header d-flex justify-content-center">Content team</div>
                <div class="d-flex justify-content-center">
                    <img class="card-img-top"
                        src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">yet another bob</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 columns">
            <div class="card border-light">
                <div class="card-header d-flex justify-content-center">Content team</div>
                <div class="d-flex justify-content-center">
                    <img class="card-img-top"
                        src="{% static 'chat_feature/images/White_with_Flower_Icon_Floral_Logo.png' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">yet another bob</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}