html {
    margin: 0;
    height: 100%;
}

.slick-container {
    height: 60%;
}

.slick-slider, .slick-list, .slick-track {
    height: 100%;
}

body {
    /* background-color: #FDEEEC ; */
    /* E3CACD */
    margin: 0;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    /* background-color: #fff3f1; */
}

.scrollIcon {
    position: fixed;
    z-index: 10;
    top: 85%;
    left: 88%;
    color: #2D2B3B;
}

.view {
    height: 100%;
}

.parallax1 {
    background: url(../images/bg3.png);
    min-height: 80%;
    margin-top: 55px;
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax2 {
    background: url(../images/bg2.png);
    min-height: 35%;
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax3 {
    background: url(../images/bg3.jpg);
    min-height: 35%;
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-dark {
    background-color: #2D2B3B!important;
}

.navbar-dark .navbar-brand {
    font-family: 'Staatliches', cursive;
    color: #e7b3ba;
    font-size: 1.5em;
}

.nav-item {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.07rem;
    font-size: 1.1em;
}

.heading {
    font-family: 'Sue Ellen Francisco', cursive;
    color: aliceblue;
}

.content {
    font-size: 25px;
    font-weight: 500;
    /* text-indent: 10px; */
}

.sub-heading {
    font-family: 'Staatliches', cursive;
    color: aliceblue;
    font-size: 2rem;
}

.heading-content {
    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 4rem;
    margin: 15px;
}

.parallax-text {
    margin-top: 70px;
    font-family: 'Sue Ellen Francisco', cursive;
    color: aliceblue;
    font-size: 75px;
}

.card-container {
    margin-top: 50px;
}

.ending-text {
    color: aliceblue;
    margin-top: 40px;
    margin-bottom: 20px;
    text-indent: 0;
    opacity: 0.7;
    font-size: 18px;
}

#foot {
    background-color: #2D2B3B;
}

.landingLogo {
    /* padding: 100px; */
}

.spacer {
    min-height: 40px;
}

.slick-prev:before {
    color: black !important;
}
.slick-next:before {
    color: black !important;
}

.slideItem {
    position: relative;
}

.center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Staatliches', cursive;
}

.list {
    margin: 5px;
    font-size: 22px;
    font-weight: 500;
}

.section {
    padding: 20px;
}

.light {
    background-color: #fff3f1;
}

.dark {
    background-color: #ffebe7;
}

.bold {
    color: #b14348;
    display: block;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0px;
}

.bold-small {
    font-size: 1.75rem;
}


.high {
    color: #b14348;
}

.slideshow {
    padding: 10px;
}

.slick_container {
    background-color: #2D2B3B;
    padding: 10px;
    padding-bottom: 30px;
}

.slick-dots li button:before {
    color: white !important;
}

.slick-next:before, .slick-prev:before {
    color: white !important;
}

.contentImage {
    border-radius: 15px;
}

.stats {
    position: relative;
}

.imgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.statImg {
    margin-top: 15px;
    margin-bottom: 15px;
}

.opMedium {
    opacity: 0.6;
}

.opRegular {
    opacity: 0.5;
}

.opLow {
    opacity: 0.3;
}

.fa-facebook {
    /* color: #1773EA !important; */
    color: #ececec !important;
}

.fa-instagram {
    /* color: #EA488C !important; */
    color: #ececec !important;
}

.fa-envelope {
    color: #ececec;
}

.footerSmall {
    font-size: 14px;
}

.footerLeft {
    padding-left: 38px;
}

.footer .fa-facebook, 
.footer .fa-instagram,
.footer .fa-envelope,
.footer .fa-align-justify {
    color: #ffffff !important;
    margin-left: 10px;
    margin-right: 10px;
}

.chotu {
    font-size: 35px;
}

/* 
.carousel,
.carousel-item,
.carousel-item.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
} */


/* #textbg1 {
    background: url(textbg1.png);
}

#textbg2 {
    background: url(textbg2.png);
}

#textbg1 #textbg2 {
    background-position: center;
    background-repeat: no-repeat;
} */
